header {
    height: 70px;   
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-position: 20px;
    background-repeat: no-repeat;
}
